<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is another flask website</title>
  </head>
  <body>
    <h1>Hola amigo. Below you can find more information about {{ all_data[4] }}!</h1>
    <div class="ciudad">
    <li>
      <ul>
        <p>La temperatura actual en {{ all_data[4] }}: {{ all_data[0] }}</p>
        <p>En el mapa: Longitud: {{ all_data[5] }}, Latitud: {{ all_data[6] }}</p>
        <p>Hora en local de {{ all_data[4] }}: {{ all_data[3] }}</p>
        <p>Temperatura minima: {{ all_data[1] }}</p>
        <p>Temperatura minima: {{ all_data[2] }}</p>
      </ul>
    </li>
    </div>
    <div class="">
      {% if all_data[0] <= 69 %}
        <p>You better get a hot coffee <img src="{{url_for('static', filename='coffee-cup.png')}}" /></p>
      {% else %}
        <p>Nice and fresh, beer? <img src="{{url_for('static', filename='beer.png')}}" /></p>
      {% endif %}
    </div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </body>
</html>
